# dependencies
node_modules

# expo
.expo
dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env

# build
build

# typescript
*.tsbuildinfo

# vscode
.vscode

# mac/linux/windows
.DS_Store
Thumbs.db